/* Archivo antiguo - Conservado temporalmente para limpiar los errores de tu editor */
body {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
